/*********************
* Header Styles
**********************/
.header_navbar {
    @include flex(center, space-between);
    padding: 20px 0;
    border-bottom: 1px solid $grey_color;
    // navbar menu
    .navbar_menu {
        @include list_style;
        @include flex(center);

        li {
            margin-left: 40px;
            @include font_style($font_size_general, $font_color_primary,600);
            cursor: $cursor_pointer;

            &:first-child i {
                margin-left: 10px;
            }

            &:last-child a {
                @include flex(center);
                @include font_style($color:$primary_color_blue, $weight:600);
                @include style_link;
                padding: 8px 10px;
                border: 1px solid $border_btn;
                border-radius: 7px;
                // btn hover
                &:hover {
                    background: $primary_color_blue;
                    color: $color_white;
                }

                img {
                    margin-right: 5px;
                    width: 18px;
                }
            }
        }
    }
} 
