/*********************
* Variables
**********************/

// colors
$font_color: #58402c;
$border_btn: #2e4691;
$border_navbar: #bdb5af;
$btn_textcolor: #30488f;
$hover_button: #30488f;
$color_white: #fff;

$cursor_pointer: pointer;

// typography 
$general_font: 'Open Sans', sans-serif;
$font_weight600: 600;