/*********************
* Variables
**********************/

// colors
$font_color_primary: #58402c;
$border_btn: #2e4691;
$grey_color: #bdb5af;
$primary_color_blue: #30488f;
$color_white: #fff;
$bg_color_services: #ffe7d2;


// interaction elements
$cursor_pointer: pointer;
$btn_hover: #233569;


// typography 
$general_font: 'Open Sans', sans-serif;
$font_size_general: 14px;
$font_size_title: 50px;
$font_size_paragraph: 22px;
$font_size_title2: 26px;
$font_size_paragraph2: 18px;