/*********************
* Variables
**********************/

// colors
$font_color: #58402c;
$border_btn: #2e4691;
$border_navbar: #bdb5af;
$span_color: #bdb5af;
$btn_textcolor: #30488f;
$btn_bg_color: #30488f;
$hover_button: #30488f;
$color_white: #fff;
$bg_color_primary: #ffe7d2;


// interaction elements
$cursor_pointer: pointer;

// typography 
$general_font: 'Open Sans', sans-serif;
$font_weight600: 600;
$font_size_general: 14px;
$font_size_span: 13px;
$font_size_title: 50px;
$font_size_paragraph: 22px;